<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Persecuted</title>
    <link type="text/css" rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/styles.css" />
</head>
<body class="container">

<nav>
  <div id="main=nav">
  <ul>
    <li href="index.html">Home</li>
    <li href="#">Articles</li>
    <li href="about.html">About Author</li>
    <li href="knowjesus.html">Know Jesus?</li>
    <li href="howtohelp.html">How to Help</li>
  </ul>
  <div>
<nav>
