<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Persecuted</title>
    <link type="text/css" rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/styles.css" />
</head>
<body class="container">

<nav>
  <div id="main=nav">
  <ul>
    <a href="index.html"><li>Home</li></a>
    <a href="#"><li>Articles</li></a>
    <a href="about.html"><li>About Author</li></a>
    <a href="knowjesus.html"><li>Know Jesus?</li></a>
    <a href="howtohelp.html"><li>How to Help</li></a>
  </ul>
  <div>
<nav>
