{% include articleheader.html %}

<div class="pagearea">
<div class="col-md-8">
  {{content}}
</div>

<div class="row">
  <div class="col-md-4">
    <img class="bioimg" src="/images/paul-bio-main.png" />
        <h4>Rev. Paul Estabrooks</h4>
        <p>senior communication
        specialist at Open Doors
        International</p>
      </div>
        <div class="recent">
        <h4> Recent Articles </h5>
        <ul>
        <li><a href="#">September</a></li>
        <li><a href="#">October</a></li>
        <li><a href="#">November</a></li>
        <li><a href="#">December</a></li>
      </ul>
  </div>
</div>
</div

{% include footer.html %}
