{% include header.html %}

<img class="col-md-12" src=images/crosshill.png />

<div class="row">
  <div class="col-md-8">

    {% for post in site.posts %}
    <div class="thumbnail">
       <img src="" alt="South Korean Landscape" />
       <div class="caption">
         <h3>{{ post.title }}</h3>
         {{ post.opening }}
         <p><a href="{{ post.url}}" class="btn btn-primary" role="button">Read More</a></p>
     </div>
    </div>
    {% endfor %}

  </div>

      <div class="row">
        <div class="col-md-4">
            {{content}}
        </div>
    </div>
</div>


{% include footer.html %}
